:root {
  --padding_x: 15px;
  --padding_y: 15px;
  --padding_big_y: 20px;
  --padding_small: 5px;
  --color_background: #111;
  --color_body: #ccc;
  --color_heading: #eee;
  --color_link: #fff;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
  font-size: 14px;
  background-color: var(--color_background);
  color: var(--color_body);
}

h1,
h2,
h3 {
  color: var(--color_heading);
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 4em;
  line-height: 1.2;
  margin-bottom: var(--padding_y);
}

h2 {
  font-size: 2.6em;
  padding-bottom: 8px;
}

a {
  color: var(--color_link);
}

.content_container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px var(--padding_x);
  scroll-behavior: smooth;
}

.top_container {
  /* padding: var(--padding_x) var(--padding_y); */
  margin-top: 25px;
  margin-bottom: 50px;
}

section {
  /* background-color: hotpink; */
  margin: 15px 0;
  padding: var(--padding_y) 0;
}

section p {
    margin: 3px 0;
}

.section_description {
  padding: 10px 0;
}

.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wraps; /* Allows items to wrap on smaller screens */
  gap: var(
    --padding_y
  ); /* Space between divs. Intentionally Y because I want x and y spacing to be the same */
  margin-bottom: var(--padding_y);
}

.block {
  flex: 1; /* Each item takes equal space */
  min-widsth: 300px; /* Prevents items from getting too narrow */
  box-sizing: border-box; /* Includes padding in width */
  text-align: left;
}

.block_image {
  aspect-ratio: 3/2;
  background-size: cover;
  background-position: center;
}

.block_image_vertical {
  aspect-ratio: 2/3;
  background-size: cover;
  background-position: center;
}

.block_description {
  padding-top: var(--padding_small);
}

.pad_x {
  padding-left: var(--padding_x);
  padding-right: var(--padding_x);
}

.pad_y {
  padding-top: var(--padding_y);
  padding-bottom: var(--padding_y);
}

.pad_top {
  padding-top: var(--padding_y);
}

.pad_bottom {
  padding-bottom: var(--padding_y);
}

/* Media query for narrow screens (e.g., phones) */
@media (max-width: 600px) {
  .blsock {
    flex: 100%; /* Full width for each item */
    min-width: 100%; /* Ensures items take full container width */
    /* min-height: 250px; */
  }
}
