:root {
  --padding_x: 15px;
  --padding_y: 15px;
  --padding_small: 5px;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Arial, sans-serif;
}

body {
  font-size: 14px;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

.content_container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px var(--padding_x);
}

.top_container {
  /* padding: var(--padding_x) var(--padding_y); */
}

section {
  /* background-color: hotpink; */
  margin: 15px 0;
  padding: var(--padding_y) 0;
  border-bottom: 1px solid grey;
}

.section_description {
    padding: 10px 0;
}

.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wraps; /* Allows items to wrap on smaller screens */
  gap: 20px; /* Space between divs */
  margin-bottom: var(--padding_y);
}

.block {
  background-color: white;
  flex: 1; /* Each item takes equal space */
  min-widsth: 300px; /* Prevents items from getting too narrow */
  box-sizing: border-box; /* Includes padding in width */
  text-align: left;

}

.block_image {
aspect-ratio: 3/2;
background-size: cover;
  background-position: center;
}

.block_description {
    padding-top: var(--padding_small);
}

.pad_x {
    padding-left: var(--padding_x);
    padding-right: var(--padding_x);
}

.pad_y {
    padding-top: var(--padding_y);
    padding-bottom: var(--padding_y);
}

.pad_top {
    padding-top: var(--padding_y);
}

.pad_bottom {
    padding-bottom: var(--padding_y);
}

/* Media query for narrow screens (e.g., phones) */
@media (max-width: 600px) {
  .blsock {
    flex: 100%; /* Full width for each item */
    min-width: 100%; /* Ensures items take full container width */
    min-height: 250px;
  }
}
